{% extends 'base.html.twig' %}

{% block title %}Workout {{ workout.createdAt.format('d-m-Y') }}{% endblock %}

{% block body %}
    <h1>Workout {{ workout.createdAt.format('d-m-Y') }}</h1>
    <form action="{{ path('app_workout_active_add', {'workoutId': workout.id}) }}" method="post">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Weight</th>
                    <th>Duration</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for history in workout.workoutHistories %}
                    <tr>
                        <td>{{ history.exercise.name }}</td>
                        <td>{{ history.sets }}</td>
                        <td>{{ history.reps }}</td>
                        <td>{{ history.weight }}{{ history.weight is not null ? 'kg' : '' }}</td>
                        <td>{{ history.duration ?? '-' }} {{ history.duration is not null ? 'seconds' : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">no exercises found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}
